@use '../../../shared/styles/mixins' as m;

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1em;
  gap: 1%;
  flex-wrap: wrap;

  & > * {
    overflow: hidden;
    width: 100%;
    margin-bottom: 1em;
  }
}

@include m.desktop-screen {
  .section {
    flex-direction: row;

    &.life > .mat-card, &.top > .mat-card, &.proportions > .mat-card {
      width: 46%;
      &.age-group {
        width: 100%; // For 3 items
      }
    }
  }
}