<h1>Statistics</h1>
<h2>Top living characters</h2>
<div class="section top">
  <mat-card>
    <mat-card-header
      ><mat-card-title>Tim bits</mat-card-title></mat-card-header
    >
    <mat-card-content>
      <div><b>Population : </b>{{ population.toLocaleString() }}</div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header
      ><mat-card-title>Best stats</mat-card-title></mat-card-header
    >
    <mat-card-content>
      <div><b>Diplomacy : </b>{{ bestCharacter.diplomacy.name }} - {{ skillToLabel(bestCharacter.diplomacy.value) }} ({{ bestCharacter.diplomacy.value }})</div>
      <div><b>Martial : </b>{{ bestCharacter.martial.name }} - {{ skillToLabel(bestCharacter.martial.value) }} ({{ bestCharacter.martial.value }})</div>
      <div><b>Stewardship : </b>{{ bestCharacter.stewardship.name }} - {{ skillToLabel(bestCharacter.stewardship.value) }} ({{ bestCharacter.stewardship.value }})</div>
      <div><b>Intrigue : </b>{{ bestCharacter.intrigue.name }} - {{ skillToLabel(bestCharacter.intrigue.value) }} ({{ bestCharacter.intrigue.value }})</div>
      <div><b>Learning : </b>{{ bestCharacter.learning.name }} - {{ skillToLabel(bestCharacter.learning.value) }} ({{ bestCharacter.learning.value }})</div>
      <div><b>Prowess : </b>{{ bestCharacter.prowess.name }} - {{ skillToLabel(bestCharacter.prowess.value) }} ({{ bestCharacter.prowess.value }})</div>
    </mat-card-content>
  </mat-card>
</div>
<h2>Living characters proportion</h2>
<div class="section proportions">
  <app-graph-card header="Sex" graphId="sexChart"></app-graph-card>
  <app-graph-card header="Sexuality" graphId="sexualityChart"></app-graph-card>
  <app-graph-card header="Culture" graphId="cultureChart"></app-graph-card>
  <app-graph-card header="Religion" graphId="faithChart"></app-graph-card>
</div>
<h2>Life</h2>
<div class="section life">
  <app-graph-card header="Births & deaths by Year" graphId="birthByYearChart"></app-graph-card>
  <app-graph-card header="Life expectancy by Year" graphId="lifeExpectancyChart"></app-graph-card>
  <app-graph-card header="Age Groups" graphId="ageGroupChart" class="age-group"></app-graph-card>
</div>
