<h1>Statistics</h1>
<h2>Proportion</h2>
<div class="section proportions">
  <mat-card>
    <mat-card-header><mat-card-title>Sex</mat-card-title></mat-card-header>
    <mat-card-content><div id="sexChart"></div></mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header><mat-card-title>Culture</mat-card-title></mat-card-header>
    <mat-card-content><div id="cultureChart"></div></mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header><mat-card-title>Faith</mat-card-title></mat-card-header>
    <mat-card-content><div id="faithChart"></div></mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header
      ><mat-card-title>Sexuality</mat-card-title></mat-card-header
    >
    <mat-card-content><div id="sexualityChart"></div></mat-card-content>
  </mat-card>
</div>
<h2>Life</h2>
<div class="section life">
  <mat-card>
    <mat-card-header
      ><mat-card-title>Births & deaths by Year</mat-card-title></mat-card-header
    >
    <mat-card-content><div id="birthByYearChart"></div></mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header
      ><mat-card-title>Life expectancy by Year</mat-card-title></mat-card-header
    >
    <mat-card-content><div id="lifeExpectancyChart"></div></mat-card-content>
  </mat-card>
</div>
<!--
<h2>Top characters</h2>
<div class="section top"></div>
-->