<h1>CK3 Visualizer</h1>

<p>Import your Crusader Kings III save and view multiple fun stats!</p>

<p>CK3 Visualizer is fan made project. It's made using <a href="https://angular.io/">Angular</a>, a javascript framework, and <a href="https://plotly.com/javascript/">Plotly</a> a free extensive javascript chart maker.</p>
<p>This project is open source and you are welcome to contribute via : <a href="https://github.com/JpG771/ck3-visualizer">Github Ck3 Visualizer</a></p>
<p>All users, event non technical can suggest charts or other ideas via this <a href="https://trello.com/b/jYnP40br">Trello board</a></p>
<p>Start here :
<button mat-raised-button color="primary" [routerLink]="'file/read'">Read a save file</button></p>